Upgrade pip wheel bundled with ensurepip (pip 23.0.1) 
python==23.0.1
numpy==1.21.2
pandas==1.4.2
streamlit==1.10.0

Pillow==9.1.1
plotly
scipy
matplotlib==3.5.2
seaborn
pandas
Flask
flask-cors
pyforest
ZipFile
numpy==1.22.4
 
 


 

